:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --tertiary-color: #f39c12;
    --fourth-color: #e74c3c;
    --background-color: #f4f4f4;
    --text-color: #333;
    --font-family: 'Arial, sans-serif';

    --padding: 10px;
    --margin: 10px;
    --border-radius: 5px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--padding);
}

h1 {
    color: var(--primary-color);
    font-family: var(--font-family);
    margin-bottom: var(--margin);
}

.button {
    background-color: var(--secondary-color);
    color: white;
    padding: var(--padding);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: var(--margin);
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
    width: 150px;
    text-align: center;
}

.button:hover {
    opacity: 0.9;
}

.button.edit {
    background-color: var(--tertiary-color);
}

.button.delete {
    background-color: var(--fourth-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--margin);
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
}

th, td {
    padding: var(--padding);
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    background-color: white;
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: var(--padding);
    margin-bottom: var(--margin);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group {
    margin-bottom: var(--margin);
}